 @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

 * {
     margin: 0;
     padding: 0;
 }

 body {
     font-family: 'Montserrat', sans-serif;
     background: #26335D;
 }

 .navbar-brand {
     font-family: 'Montserrat';
     font-style: normal;
     font-weight: 700;
     font-size: 24px;
     line-height: 32px;
     /* identical to box height, or 133% */
     letter-spacing: 0.1px;
     /* light-text-color */
     color: #FFFFFF;
     margin-right: 70px
 }

 .nav-link {
     font-family: 'Montserrat';
     font-style: normal;
     font-weight: 700;
     font-size: 14px;
     line-height: 24px;
     /* identical to box height, or 171% */
     /* text-align: center; */
     letter-spacing: 0.2px;
     /* light-text-color */
     color: #FFFFFF;
 }

 .join-us-btn {
     font-family: 'Montserrat';
     font-style: normal;
     font-weight: 700;
     font-size: 14px;
     line-height: 22px;
     /* identical to box height, or 157% */
     letter-spacing: 0.2px;
     /* light-text-color */
     color: #fff;
     background: #8D5CF6;
     border-radius: 5px;
     border: none !important;
     height: 41px;
     padding-left: 15px;
     padding-right: 15px
 }

 .section1 {
     background: url("../images/hero-1.png");
     background-repeat: no-repeat;
     background-size: cover;
     width: 100%;
     height: 830px;
     margin-top: -140px;
     margin-bottom: 120px
 }

 .hero-2-div {
     padding-left: 90px;
     padding-top: 170px;

 }

 .header-tag {

     font-family: Montserrat;
     font-weight: bold;
     font-size: 16px;
     line-height: 24px;
     text-align: left;
     vertical-align: top;
     letter-spacing: 0.1px;
     color: #FFFFFF;
     margin-top: 300px
 }

 .nav-form {

     margin-right: 160px !important
 }

 .headline-section {
     font-family: Montserrat, sans-serif;
     font-weight: bold;
     font-size: 58px;
     line-height: 80px;
     letter-spacing: 0.2px;
     color: #fff !important;
     text-align: left;
     vertical-align: top;
     margin-top: 20px;

 }

 .sub-headline {
     font-family: Montserrat, sans-serif;
     font-weight: normal;
     font-size: 20px;
     line-height: 30px;
     letter-spacing: 0.2px;
     color: #FFFFFF;
     /* Assuming this is the "light-text-color" you mentioned */
     text-align: left;
     vertical-align: top;
     margin-bottom: 25px;
 }

 .hero-btn-1 {
     font-family: Montserrat, sans-serif;
     font-weight: bold;
     font-size: 14px;
     line-height: 22px;
     letter-spacing: 0.2px;
     color: #FFFFFF;
     /* Assuming this is the "light-text-color" you mentioned */
     text-align: center;
     vertical-align: top;
     border-radius: 5px 5px 5px 5px;
     background-color: #8D5CF6;
     padding: 10px 20px;
     border: none
 }


 .hero-btn-2 {
     font-family: Montserrat, sans-serif;
     font-weight: bold;
     font-size: 14px;
     line-height: 28px;
     /* 22px * 129% */
     text-align: center;
     letter-spacing: 0.2px;
     color: #FFFFFF;
     /* Assuming this is the light-text-color fill you mentioned */
     border: none;
     border-radius: 5px;
     background-color: transparent;
     border: 1px solid #ECECEC;
     padding: 6px 25px;
 }

 .section3-tagline,
 .section4-tagline,
 .section5-tagline,
 .section6-tagline,
 .section7-tagline {
     font-family: 'Montserrat', sans-serif;
     font-weight: bold;
     font-size: 14px;
     line-height: 24px;
     text-align: left;
     vertical-align: top;
     letter-spacing: 0.2px;
     color: #8D5CF6;
 }


 .section3-headline,
 .section4-headline,
 .section5-headline,
 .section6-headline,
 .section7-headline {
     font-family: 'Montserrat', sans-serif;
     font-weight: bold;
     font-size: 40px;
     line-height: 50px;
     text-align: left;
     vertical-align: top;
     letter-spacing: 0.2px;
     color: #FFFFFF;
 }


 .section4-sub-headline,
 .section5-sub-headline,
 .section3-sub-headline,
 .section6-sub-headline,
 .section7-sub-headline {
     font-family: 'Montserrat', sans-serif;
     font-style: normal;
     font-weight: 400;
     font-size: 14px;
     line-height: 20px;
     text-align: left;
     vertical-align: top;
     letter-spacing: 0.2px;
     color: #FFFFFF;
     margin-bottom: 70px;
 }

 .section2 {
     margin-bottom: 110px !important;
 }

 .section3-card-header,
 .section4-card-header {
     font-family: 'Montserrat', sans-serif;
     font-style: bold;
     font-weight: 700;
     font-size: 16px;
     line-height: 24px;
     text-align: left;
     vertical-align: top;
     letter-spacing: 0.1px;
     color: #252B42;

 }

 .section3-card-text,
 .section4-card-text {
     font-family: 'Montserrat', sans-serif;
     font-style: normal;
     font-weight: 400;
     font-size: 14px;
     line-height: 20px;
     text-align: left;
     vertical-align: top;
     letter-spacing: 0.2px;
     color: #737373;

 }

 .section3-card {
     transition: transform 0.2s ease-in-out;
 }

 .section3-card:hover {
     transform: translateY(-25px);
 }

 /* .section3 .row.col-gap [class^='col-']:not(:first-child) {
     margin-left: 0.55rem;
     margin-right: 0.55rem;
 } */

 .section4-card {
     background-color: transparent;
 }

 .sale-btn {
     position: absolute;
     left: 20px;
     top: 20px;
     width: 51px;
     height: 24px;
     border-radius: 3px;
     background-color: #E74040;
     box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
     font-family: Montserrat, sans-serif;
     font-weight: bold;
     font-size: 14px;
     text-align: center;
     vertical-align: top;
     letter-spacing: 0.2px;
     color: #FFFFFF;
     border: none !important
 }


 .section4-join-us {
     font-family: Montserrat, sans-serif;
     font-weight: bold;
     font-size: 14px;
     line-height: 24px;
     text-align: left;
     vertical-align: top;
     letter-spacing: 0.2px;
     color: #8D5CF6;
     text-decoration: none;
 }

 .rating-btn {
     font-family: Montserrat, sans-serif;
     font-weight: normal;
     font-size: 12px;
     line-height: 16px;
     text-align: left;
     vertical-align: top;
     letter-spacing: 0.2px;
     color: #FFFFFF;
     background-color: #26335D;
     text-decoration: none;
     padding: 5px 7px
 }

 .total-sales {

     font-family: Montserrat, sans-serif;
     font-weight: bold;
     font-size: 14px;
     line-height: 24px;
     text-align: left;
     vertical-align: top;
     letter-spacing: 0.2px;
     color: #737373;
 }

 .price-1 {
     font-family: Montserrat;
     font-weight: bold;
     font-size: 16px;
     line-height: 24px;
     letter-spacing: 0.1px;
     text-align: center;
     vertical-align: top;
     color: #BDBDBD;
 }

 .price-2 {
     font-family: Montserrat;
     font-weight: bold;
     font-size: 16px;
     line-height: 24px;
     letter-spacing: 0.1px;
     text-align: center;
     vertical-align: top;
     color: #FF7B52
 }

 .learn-more-btn {
     font-family: Montserrat;
     font-weight: bold;
     font-size: 14px;
     line-height: 24px;
     letter-spacing: 0.2px;
     text-align: left;
     vertical-align: top;
     color: #8D5CF6;
     background-color: transparent;
     border: 1px solid #8D5CF6;
     padding: 9px 10px 9px 20px;

 }

 .section4 {
     margin-top: 200px !important
 }


 .section5-col-2 {

     padding: 170px 10px 50px 40px
 }


 .section5 {
     margin-top: 180px
 }

 .section6-card-headline {

     font-family: Montserrat;
     font-size: 24px;
     font-weight: bold;
     line-height: 32px;
     vertical-align: top;
     letter-spacing: 0.1px;
     color: #252B42;
 }

 .section6-card-sub-headline {
     font-family: Montserrat;
     font-size: 14px;
     font-weight: bold;
     line-height: 24px;
     vertical-align: top;
     letter-spacing: 0.2px;
     color: #737373;
 }

 .section6-card-price {
     font-family: Montserrat;
     font-size: 40px;
     font-weight: bold;
     line-height: 50px;
     vertical-align: top;
     letter-spacing: 0.2px;
     color: #8D5CF6;
 }

 .section6-card-per-month {
     font-family: Montserrat;
     font-size: 14px;
     font-weight: bold;
     line-height: 24px;
     margin-top: -5px;
     vertical-align: top;
     letter-spacing: 0.2px;
     color: #8EC2F2;
 }

 .section6-card-para {
     font-family: Montserrat;
     font-size: 14px;
     font-weight: normal;
     line-height: 20px;
     line-height: 117%;
     text-align: center;
     vertical-align: top;
     letter-spacing: 0.2px;
     color: #737373;
 }

 .try-free-btn {
     width: 100%;
     padding: 15px 20px;
     text-decoration: none;
     border-radius: 5px 5px 5px 5px;
     background-color: #8D5CF6;
     font-family: Montserrat;
     font-size: 14px;
     font-weight: bold;
     line-height: 22px;
     text-align: center;
     vertical-align: top;
     letter-spacing: 0.2px;
     color: #FFFFFF;
     display: inline-block;
     margin-top: -50px !important
 }

 .section6-card-detail {
     font-family: Montserrat;
     font-weight: bold;
     font-size: 14px;
     line-height: 24px;
     letter-spacing: 0.2px;
     color: #252B42;
     text-align: left;
     vertical-align: top;
 }

 .circle {
     width: 90px;
     height: 90px;
     border-radius: 50%;
     background-color: #ccc;
     display: flex;
     justify-content: center;
     align-items: center;
     color: #fff;
     font-size: 24px;
     position: absolute;
     right: -50px;
     top: -20px;
     background-color: #E77C40;
 }

 .circle h3 {
     font-family: Montserrat, sans-serif;
     font-weight: bold;
     font-size: 24px;
     line-height: 32px;
     letter-spacing: 0.1px;
     text-align: center;
     vertical-align: top;
     color: #FFFFFF;
 }

 #email-input::placeholder {
     font-family: Montserrat, sans-serif;
     font-weight: normal;
     font-size: 14px;
     line-height: 28px;
     text-align: left;
     vertical-align: top;
     letter-spacing: 0.2px;
     color: #737373;
     background-color: transparent;
 }

 #subscribe-btn {
     font-family: Montserrat, sans-serif;
     font-weight: normal;
     font-size: 14px;
     line-height: 28px;
     text-align: center;
     vertical-align: top;
     letter-spacing: 0.2px;
     color: #FFFFFF;
     background-color: #8D5CF6;
     padding: 10px
 }

 .footer-section-1-heading {
     font-family: Montserrat;
     font-size: 16px;
     line-height: 24px;
     letter-spacing: 0.1px;
     font-weight: bold;
     color: rgb(37, 43, 66);
     text-align: left;
     vertical-align: top;
 }

 .footer-section-1-link {
     font-family: Montserrat;
     font-size: 14px;
     line-height: 24px;
     letter-spacing: 0.2px;
     font-weight: bold;
     color: rgb(115, 115, 115);
     text-align: left;
     vertical-align: top;
     text-decoration: none;
 }

 .footer-section-2-heading {
     font-family: Montserrat;
     font-size: 14px;
     line-height: 24px;
     letter-spacing: 0.2px;
     font-weight: bold;
     color: rgb(115, 115, 115);
     text-align: left;
     vertical-align: top;
     margin-left: 20px
 }


 @media screen and (max-width:991px) {
     .section1 {
         margin-top: -290px !important;
     }

     .navbar-nav {
         padding-left: 0 !important;
     }

     .hero-2-div {
         display: none;
     }

     .hero-1-div {
         width: 100%;
         padding-top: 50px;

         justify-content: center;
     }

     .section4-card {
         margin-bottom: 40px !important;
     }

     .section6-card {
         margin-left: 50px
     }

     .section6-headline {
         text-align: center !important;
     }

     .section6-sub-headline {
         text-align: center !important;
     }

     .section6-tagline {
         text-align: center;
     }

     .footer-section-2-heading {
         text-align: center;
         margin-bottom: 10px !important
     }
 }

 @media screen and (max-width:768px) {
     .headline-section {


         font-size: 38px;
         line-height: 60px;
         text-align: center;


     }

     .hero-1-div,
     .header-tag,
     .sub-headline {
         text-align: center;
     }

     .section3-card {
         margin-left: 10px;
         margin-bottom: 40px;
     }

     .section4-card {
         margin-left: 10px
     }



 }

 @media (min-width: 768px) and (max-width: 991.20px) {

     /* CSS rules here */
     .section3-card {
         padding: 0 !important;
     }

     .section5-col-2 {
         padding-top: 50px !important;
     }




 }


 @media (min-width: 991px) and (max-width: 1199.20px) {

     /* CSS rules here */
     /* .learn-more-btn {
         font-size: 13px !important
     } */

     .section4-card {
         width: 95% !important
     }




 }